//<script type="text/jsx">

    function Header() {
    
      return (
        <div className="shadow-2xl p-5">
            <h2 className="text-2xl font-bold mb-3">MENU PRINCIPAL</h2>
            <NavLink 
                exact
                activeClassName="bg-blue-500"
                className="mr-3 px-3 py-1 bg-blue-700 text-white rounded-2xl"
                to="/">
                INCIO
            </NavLink> 
            <NavLink 
                exact
                activeClassName="bg-blue-500"
                className="mr-3 px-3 py-1 bg-blue-700 text-white rounded-2xl"
                to="/formularioAreaTrabajo">
                FORMULARIO AREA TRABAJO
            </NavLink>
            <NavLink 
                exact
                activeClassName="bg-blue-500"
                className="mr-3 px-3 py-1 bg-blue-700 text-white rounded-2xl"
                to="/AreasTrabajo">
                AREAS DE TRABAJO
            </NavLink>
        </div>
        
      )
    }
    
    
//</script>